/* DEFAULTS
----------------------------------------------------------*/
body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#fff;
	min-width:600px;		/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:100%;
	font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
    width: 85%;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color: #323373; /*#3a4f63;*/
    width: 100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
    font-family: Calibri, Verdana, Sans-Serif;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #323373; /*#465c71;*/
    border: 1px #4e667d solid;
    color: white; /*#dde4ec;*/
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color:  #323373; /*#bfcbd6;*/
    color: White; /* Text colour for hover */ /* #465c71;*/
    text-decoration: none;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

#wrapper1
{
	position:relative;
	text-align:left;
	width:100%;
}

#wrapper2
{
	position: relative;
	text-align: left;
	width: 100%;
	background: url("../images/leftcolor_bg.gif") repeat-y top left;
}

#maincol
{
	position: relative;
	margin: 0;
	padding: 10px;
}
	
#leftcol
{ 
	position: relative;
	top: -10px;
	left: -10px;
	float: left;
	width: 220px;  /* for IE5/WIN */
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 200px; /* actual value */
	margin: 0 0 -10px 0;
	padding: 10px;
	background: #323373;
	z-index: 100;
	color: White;
	
}
#leftcol, a:link, a:visited
{
	padding-bottom: 50px;
	color: White;
	text-decoration: none;
}

#leftcol, a:hover
{
	text-decoration: underline;
}

#leftcol, a:active
{
	text-decoration: none;
}

#rightcol 
{
	position:relative;
	top:-10px;
	right:-10px;
	float:right;
	width:220px;  /* for IE5/WIN */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:200px; /* actual value */
	margin:0 0 -10px 0;
	padding:10px;
	background:#D7C4FA;
	z-index:99;
}

#centercol {
	position:relative;
	padding:0 240px;
	}
#centercol a {
	color:#666;
	}
#centercol a:hover {
	border-bottom:1px solid;
	color:#9343B9;
	}
#footer {
	position:relative;
	top:1px;
	background:#7A2875;
	width:100%;
	clear:both;
	margin:0;
	padding:1% 0;
	text-align:center;
	color:#CCC;
	}